* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header > div {
  display: flex;
  gap: 1rem;
}

header > p {
  height: 1em;
}

main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  gap: 1rem;
}

.card {
  width: 100px;
  height: 100px;
  background-color: gray;
  border: 2px black solid;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  line-height: 100px;
}

/* #player {
  transform: rotate(180deg);
} */

#rps-container > button {
  font-size: 2em;
}

#playing-field {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invisible {
  visibility: hidden;
  position: absolute;
}
